## apcupsd.conf v1.1 ##
{{ ansible_managed|comment(decoration='# ') }}

#
# ========= Device configuration parameters ============
#

UPSNAME {{ apcupsd__instance.upsname|d(apcupsd__instance.name) }}

UPSCABLE {{ apcupsd__instance.upscable }}
UPSTYPE {{ apcupsd__instance.upstype }}
DEVICE {{ apcupsd__instance.device }}

UPSCLASS {{ apcupsd__instance.upsclass }}
UPSMODE {{ apcupsd__instance.upsmode }}

POLLTIME {{ apcupsd__instance.polltime|int }}

LOCKFILE {{ apcupsd__runtime_directory|replace('%i', apcupsd__instance.name) }}

#
# ========= General configuration parameters ============
#
SCRIPTDIR {{ _apcupsd__instance_scriptdir }}

PWRFAILDIR {{ apcupsd__instance.pwrfaildir|d(apcupsd__lib_directory~'/'~apcupsd__instance.name) }}
NOLOGINDIR {{ apcupsd__instance.nologindir }}

#
# ======== Configuration parameters used during power failures ==========
#

ONBATTERYDELAY {{ apcupsd__instance.onbatterydelay|int }}
BATTERYLEVEL {{ apcupsd__instance.batterylevel|int }}
MINUTES {{ apcupsd__instance.minutes|int }}
TIMEOUT {{ apcupsd__instance.timeout|int }}

ANNOY {{ apcupsd__instance.annoy|int }}
ANNOYDELAY {{ apcupsd__instance.annoydelay|int }}

NOLOGON {{ apcupsd__instance.nologon }}
KILLDELAY {{ apcupsd__instance.killdelay|int }}

#
# ==== Configuration statements for Network Information Server ====
#
NETSERVER {{ apcupsd__instance.net_server|ternary('on', 'off') }}

{% if apcupsd__instance.net_server %}
NISIP {{ apcupsd__instance.net_server_address }}
NISPORT {{ apcupsd__instance.net_server_port|int }}
{% endif %}

EVENTSFILE {{ apcupsd__logs_directory }}/{{ apcupsd__instance.name }}.events
EVENTSFILEMAX {{ apcupsd__instance.eventsfilemax|int }}

#
# ===== Configuration statements to control apcupsd system logging ========
#
STATTIME 0
STATFILE {{ apcupsd__lib_directory }}/{{ apcupsd__instance.name }}.status

LOGSTATS {{ apcupsd__instance.logstats|ternary('on', 'off') }}

DATATIME {{ apcupsd__instance.datatime }}

FACILITY {{ apcupsd__instance.facility }}
